{% block content %}
<div class="container">
    <div class="col-md-12 mt-5">
        <h1>About ScatterThoughts</h1>
        <p>
            Welcome to <span class="highlight">ScatterThoughts</span>, a space where the unique perspectives of neurodivergent minds take center stage. 
            Through <span class="highlight">stories</span>, <span class="highlight">tips</span>, and <span class="highlight">insights</span>, we celebrate the strengths and navigate the challenges of thinking differently.
        </p>
        <p>
            Join us as we explore the beauty of scattered thoughts and the power they bring to a diverse world.
        </p>
    </div>
</div>
{% endblock %}