{% extends 'Blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="mx-auto mt-5 p-4 shadow-sm bg-white rounded" style="max-width: 500px;">
    <h3 class="text-center border-bottom pb-3 mb-4">Reset Your Password</h3>

    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        {{ form|crispy }}
      </fieldset>
      <div class="d-grid mt-3">
        <button class="btn btn-info" type="submit">
          <i class="bi bi-send"></i> Send Reset Link
        </button>
      </div>
    </form>

    <div class="border-top pt-4 text-center mt-4">
      <small class="text-muted">
        Remembered your password?
        <a href="{% url 'login' %}" class="ms-1 text-decoration-none">Log in</a>
      </small>
    </div>
  </div>
{% endblock content %}
