{% extends 'Blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="content-section mx-auto" style="max-width: 500px;">
    <h3 class="border-bottom pb-2 mb-4 text-center">Reset Password</h3>

    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        {{ form|crispy }}
      </fieldset>
      <div class="form-group mt-3">
        <button type="submit" class="btn btn-outline-info">Reset Password</button>
      </div>
    </form>
  </div>
{% endblock content %}
